.Projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-16x) 0;

  &--title {
    padding-bottom: var(--space-32x);
  }
}

.ProjectItemList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-4x) 0;

  &--technologies {
    display: grid;
    width: min-content;
    grid-auto-flow: column;
    grid-gap: var(--space-4x);
    margin-top: calc(-1 * var(--space-4x));
  }

  &--technology {
    font-size: .7rem;
    color: var(--color-primary);
  }


}
