//@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;700&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;700&family=Lato&display=swap');

:root {
  --font-primary: "Zen Kaku Gothic Antique", sans-serif;
  --font-seconday: "Lato", serif;
}

@mixin heading {
}

@mixin heading1 {
  @include heading;
  font-family: var(--font-seconday);
  font-size: 3rem;
  line-height: .8;
  margin-bottom: var(--space-2x);
}

@mixin heading2 {
  @include heading;
  font-family: var(--font-seconday);
  font-size: 1.7rem;
  line-height: .8;
  margin-bottom: var(--space-2x);
}

@mixin em {
  font-size: 0.7rem;
}

@mixin link {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1em;

  &:hover {
    border-bottom: 1px solid var(--color-primary);
  }
}