@use "~sass-mq" as mq;
@use "tokens/mixins";

.App {
  --color-navigation: var(--color-primary);

  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: var(--space-4x);
  margin-bottom: var(--space-8x);
  padding: 0 var(--space-4x);

  @include mq.mq($until: tablet) {
    grid-template-columns: 1fr;
  }

  &--colored {
    background: var(--color-primary);
  }

  &--aside {
    display: block;
    padding-top: var(--space-2x);
    padding-left: var(--space-4x);
    position: relative;

    @include mq.mq($from: tablet) {
      padding-left: var(--space-8x);
      @include mixins.asideSpacer;

      &-content {
        opacity: 0.4;
      }
    }
  }

  &--main {
    padding: 0 var(--space-4x);

    &-content {
      @include mq.mq($from: tablet) {
        margin-top: var(--space-1x);
        padding-bottom: var(--space-8x);
      }
    }
  }
}
