html {
  scroll-behavior: smooth;
  font-size: 24px;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-ternary);
}
