@use "~sass-mq" as mq;
@use "../../../tokens/mixins";

.Project {
  @include mixins.pageLayout;
  grid-template-columns: min-content 1fr;

  &__navigation {
    position: sticky;
    top: 0;
  }

  &__title {
    margin-top: calc(-1 * var(--space-2x));
  }

  &__content {
    padding-top: var(--space-8x);
    display: grid;
    grid-gap: var(--space-4x);
  }
}
