@use "~sass-mq" as mq;
@use "../../../tokens/mixins";

.Project {
  @include mixins.pageLayout;
  grid-template-columns: min-content 1fr;

  &--navigation {
    position: sticky;
    top: 0;
  }

  &--content {
    padding-top: var(--space-8x);
  }
}
